<div class="ui form">

    <ng-include src="'views/partials/dimmer.html'"></ng-include>

    <!-- Start of port field -->
    <div class="field">
        <label>Port</label>
        <input type="text" ng-model="config.port">
    </div>
    <!-- End of port field -->

    <!-- Start of resolution -->
    <div class="two fields">
        <div class="field">
            <label>Width</label>
            <input type="text" ng-model="config.resolution[0]">
        </div>

        <div class="field">
            <label>Height</label>
            <input type="text" ng-model="config.resolution[1]">
        </div>
    </div>

    <div class="ui right aligned column">
        <button class="ui green button" ng-click="save()">
            <i class="save icon"></i>
            Save
        </button>
    </div>
</div>
